* {

padding: 0;
margin: 0;

}

body {



}

.contain {

width: 100%;
display: block;
margin:auto;
max-width: 1655px;
max-height: 1400px;
}

.topnav {

width: 100%;
height: 55px;
position: fixed;
background-color: black;
opacity: 0.85;
z-index: 999;
}

.link-page{ 

width: auto;
height: 100%;
margin: auto;
display:block;
margin-top: 6px;

}

.link-page a {

color: black;
text-decoration: none;
font-size: 20px;
margin-top: 10px;
margin-left: 15px;

}

.link-page a:hover {

color: red;
transition: 800ms;

}

.linker {

width: 100%;
margin: auto;
margin-top: 10px;
margin-left: 4px
}

.link-page a:not(:hover) {

color: white;
transition: 800ms;

}

.header{

width: 80%;
height: 500px;
display: block;
margin: auto;
margin-bottom: 10px;
border-radius: 5px;

}

.header img {

width: 100%;
height: 100%;

}

.detail {

width: 80%;
height: 675px;
display: block;
background-color:rgb(217,217,217);
margin: auto;

opacity: 0.95;
margin-bottom: 5px;
border-radius: 10px;

}

.left-detail-pic {

width: 40%;
height: 100%;
position: relative;
float: left;

}

.left-detail-pic img{

width: 80%;
height: 70%;
position: relative;
top: 15%;
object-fit: cover;
left: 5%;
border-radius: 5px;
border: 2px solid black;
}

.left-detail-pic img:hover{

transform: scale(1.1);
transition: 1.5s;

}

.left-detail-pic img:not(:hover){

transform: scale(1.0);
transition: 1.5s;

}

.right-detail-text {

width: 55%;
height: 80%;
position: relative;
top: 10%;
float: right;
overflow:auto
}

.right-detail-text h1 {

font-style: italic;
font-size: 26px;
text-align: center;
margin-bottom: 5px;

}

.right-detail-text p {

font-size: 24px;

letter-spacing: 0.3px;
margin-right: 10px;

}

.footer {

width: 80%;
height: 200px;
display: block;
margin:auto;
border: 3px solid black;
background-color: black;
opacity: 0.8;
border-radius: 10px;
}


.left-contact {

width: 49%;
height: 100%;
display: block;
float: left;
text-align: center;
border-right: 3px solid black;
}

.left-contact strong 
{
position: relative;
color: white;
top: 5%;
font-size: 24px;

}

.left-contact a{

margin-left: 10px;
text-decoration: none;
color: white;
font-size: 24px;

}

.left-contact span {

color: white;
margin-left: 5px;
text-decoration: none;
font-size: 24px;
position: relative;
top: 5%;

}

.left-contact a:hover {

color: red;

}

.left-contact a:active {

color: blue;

}


.right-contact {
width: 50%;
height: 100%;
display: block;
float: right;
text-align: center;

}

.right-contact strong {

position: relative;
top: 5%;
font-size: 26px;
color: white;

}


.right-contact span {


margin-left: 5px;
text-decoration: none;
color: black;
font-size: 24px;
position: relative;
top: 5%;
color: white;
}

.right-contact a {

text-decoration: none;
color: white;

}

.active {

display: block;

}

.right-contact a:hover {

color: red;

}

.final {

width: 45%;
height: 20%;
margin: auto;
position: relative;
top: 10%;
text-align: center;
border: 3px solid black;
background-color: white;
}

.final h1 {

font-style: italic;

}

.final p {

font-size: 24px;
margin-bottom: 5px;

}

/*For Mobile*/
#menu {

width: 20%;
height: 40px;
position: absolute;
background-size: 100% 100%;
right: 0;
display: none;
cursor: pointer;
}

#close {

width: 20%;
height: 40px;
position: absolute;
background-size: 100% 100%;
right: 0;
display: none;
cursor: pointer;

}


#list-link {

width: 100%;
height: 210px;
position: absolute;
background-color: gray;

display: none;

}

#list-link a {

text-decoration: none;
position: relative;
color: white;


}

/*Mobile Responsive*/
@media only screen and (max-width: 500px) {


#menu {

display: block;

}

.topnav {

width: 100%;

}
.link-page {

display: none;

}

.header {

width: 90%;
height: 200px;
}


.detail {

width: 90%
height: auto;
}

#menu {

display: block;
height: 100%;
}

#close {

display: none;

}

#list-link {

width: 100%;

}

.detail {

width: 90%;
height: 200px;

}

.detail .right-detail-text h1{

font-size: 16px; 

}

.detail .left-detail-pic img{

width: 100%;
height: 140px;


}

.detail .right-detail-text p{

font-size: 12px; 

}

.footer {

width: 90%;
height: 125px;

}

.footer strong {

font-size: 16px;

}

.footer span {

font-size: 14px

}

.footer a {

font-size: 13px

}

.right-contact {

width: 46.25%;
margin-right: 10px;

}

}